@charset "utf-8";
﻿


/*reset*/
html {
	font-size:100%;
}
body {
	font:normal 12px "애플고딕", AppleGothic, "돋움", dotum, Arial, Verdana, sans-serif;
	line-height:1.3;
	color:#666666;
	background-color:#fff;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
img {border:none;}
ul, ol {
	list-style:none;
}
a:link, a:visited {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
input, textarea, select, button {font-family: 'Raleway', 'Noto Sans KR',sans-serif;  }

/*common*/
body{font-family: 'Raleway', 'Noto Sans KR',sans-serif; height: 100%; letter-spacing: 1px;}
.wrap{width: 100%;}
.home{width: 100%;}
.clearfix:after{ display: block; content: ''; clear: both;}
.line:after{position:absolute; bottom:0; left:49%; content: ''; width: 25px; height: 3px; background-color: #ff0062;}
.hide {visibility: hidden; height: 0;}
.inner_wrap{display: table-cell; vertical-align: middle;}
.title_txt{ margin-bottom:20px;text-align: center; font-size: 35px; color:black; font-weight: bold; }
.sub_txt { margin:80px 0; text-align:center; color: #d0cccc; }
/*index*/
header{position:fixed;display:table; z-index:100; width: 100%; height:50px;  background-color: #dedede; opacity: 0.7;}
header > h1{ display: table-cell; padding-left:5px; vertical-align: middle; color: black;}
header > ul {display: table-cell; width: 310px; vertical-align:middle; }
header > ul > li {float: left;}
header > ul > li > a {display: block; padding: 9px; color: black;}
header > ul > li > a:hover{color: #ff0062;}
.main_visual {position: relative; /*비쥬얼텍스트띄우기*/width:100%; height:900px;background-color: black; }
.main_visual > .visual_video_wrap {width: 100%; height: 100%;}
.main_visual > .visual_video_wrap > video{width: 100%; height:100%;}
.main_visual > .visual_txt_wrap {position:absolute; top:0; left:0;width: 100%; height: 100%; background-color: black; opacity: 0.8;}
.main_visual > .visual_txt_wrap > div{position: absolute; top:50%; left:50%; margin-left:-300px; margin-top: -65px;}
.main_visual .visual_txt {font-size: 73px; color:white;font-weight: bold; text-align: center;}
.main_visual .visual_txt.vt3 {font-size: 30px;}
.about{display: table; position: relative; width: 100%; height:900px;}
.about .subtitle{ margin-bottom:25px; color: black; font-weight: bold; }
.btn_contact{display: inline-block; width:150px; height:30px; margin-top: 55px; border-radius: 30px; background-color: #ff0062; }
.btn_contact > span{font-size:19px; color: white;}
.about  ul {width: 1200px; margin:0 auto; text-align: center; font-size: 0;}
.about  ul > li { display:inline-block;  margin-right: 100px; vertical-align:top; text-align: center;}
.about  ul > li > p {margin:13px 0; font-size: 13px;}
.portfolio {display: table; position:relative;width: 100%; height: 900px; }
.portfolio .works > ul {width: 1200px; margin:0 auto; text-align:center; font-size: 0;}
.portfolio .works > ul > li {display: inline-block; vertical-align: top; margin:10px 38px;}
.portfolio .works .works_contents{margin: 30px 0;font-size: 12px; }
.portfolio .works .works_contents > a {color: black; margin-right: 10px; transition: 1s all ease;}
.portfolio .works .works_contents > a:hover{color: #ff0062;}
.portfolio .popup_wrap{z-index:1000; position: fixed; top: 0; left:0; right: 0; bottom: 0; background: rgba(228, 226, 224, 0.8); opacity: 0; pointer-events:none;-webkit-transition: opacity 400ms ease-in; -moz-transition: opacity 400ms ease-in; transition: opacity 400ms ease-in; text-align: left;}
.portfolio .popup_wrap .popup{ position: absolute; top:50%; left: 50%; margin:-161px 0 0 -500px; border:1px solid white; border-radius: 5px;}
.portfolio .popup_wrap:target{ opacity: 1; pointer-events: auto; }
.portfolio .popup_wrap .popup > img{float: left;}
.portfolio .popup_wrap .popup > div{float: left; width:500px; height: 290px; padding:21px;}
.portfolio .popup_wrap .popup > div > a {display: inline-block; width: 100px; height:25px; margin-top:23px; line-height:25px; border-radius: 5px; border:1px solid #ff0062; transition: 1s all ease; text-align: center; color:black;}
.portfolio .popup_wrap .popup > div > a:hover {background-color:#ff0062; color:white;}
.portfolio .popup_wrap .popup span {display: inline-block; margin: 8px 0; background-color:#ff0062; font-size: 15px; color: white;}
.portfolio .popup_wrap .popup p{font-size: 15px; color: black;}
.portfolio .popup_wrap .pop_close {position: absolute; top:20px; right:20px;width: 28px; height: 17px;  padding: 20px 10px;}
.portfolio .popup_wrap .pop_close >span {position: absolute; left: 10px; width: 40px; height: 1px;-webkit-transform: translateY(-5px) rotate(315deg); -ms-transform: translateY(-5px) rotate(315deg); transform: translateY(-5px) rotate(315deg);background-color: #fff;}
.portfolio .popup_wrap .pop_close >span.icon_close{top: 10px; -webkit-transform: translateY(5px) rotate(-315deg) ;-ms-transform: translateY(5px) rotate(-315deg); transform: translateY(5px) rotate(-315deg)}
.contact{display: table; position:relative; width: 100%; height: 900px; }
.email{text-align: center;}
.email span {display: inline-block; width: 100px; vertical-align: top;}
.email .control-group{margin-bottom: 20px;}
.email .form-control{border:1px solid #dedede; border-radius: 5px;}
.email button{border:none; width: 80px; margin-top: 10px; background-color: #ff0062; color: white;border-radius: 5px; }
footer{display: table; width: 100%; height: 200px; text-align: center;}


@media screen and (max-width: 1200px){
.inner_wrap{padding: 30px 10px;}
.main_visual{height: 700px;}
.main_visual > .visual_video_wrap{display: none;}
.main_visual > .visual_video_wrap > video{display: none; visibility: hidden;}
.main_visual > .visual_txt_wrap {position:static; height:auto; opacity: 1.0;}
.main_visual > .visual_txt_wrap > div{position: static; margin: 300px 0;}
.main_visual .visual_txt {font-size: 30px; color:white;font-weight: bold; text-align: center;}
.main_visual .visual_txt.vt3 {font-size: 15px;}
.about ul {width: auto;}
.about ul > li{display: block; margin-right: 0; margin-bottom: 60px;}	
.portfolio .works > ul {width: auto;}
.portfolio .works > ul > li {margin: 10px 25px;}
}
@media screen and (max-width: 1105px){
.portfolio .popup_wrap .popup{ position: absolute; top:5%; left: 10%; bottom:10%; width:80%; margin:0;}
.portfolio .popup_wrap .popup > img {float: none; width:50%; padding: 5% 25%;}
.portfolio .popup_wrap .popup > div{float: none; width: auto; height: auto; padding: 0 10%; text-align: center;}
.portfolio .popup_wrap .pop_close{top:auto; bottom:0;}
.portfolio .popup_wrap .popup p{font-size: 11px; color: black;}
}
