
 @media all and (max-width:1024px){/* ë©”ë‰´ - íƒœë¸”ë¦¿, ëª¨ë°”ì¼ ê³µí†µ */
 
.header_wrap, #skills .skills_wrap, #portfolio, #portfolio_design{
    width: 90%;
}
 header .nav_btn{
    display:block;
    background:#e13838;
    color:#fff;
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 15px;
    line-height:16px; 
}

header nav{
    top: 70px;
    left: -5vw;
    width: 100vw;
}


header nav ul{
    border-top:1px solid #e13838;
    width: 100%;
    background: #3a3a3a;
    display:none;
}

header nav ul li{
    clear: both;
    width: 100%;
    line-height: 3.5em;

}

header nav ul li a{
    display: block;
    width: 100%;
    text-align: center;
}

}

@media all and (min-width:768px) and (max-width:1024px){

#skills ul li{
    padding-bottom: 25%;
}

#portfolio .mockup, #portfolio .pofol_detail{
    clear: both;
    width: 100%;
    padding: 0;
}

#portfolio .pofols{
    position: relative;
}

#portfolio .mockup{
    position: absolute;
    top: 20%;
    right: 0;
    width: 35%;
}

#about .profile_para{
    margin-left: 5%;
    width: 38.5%;
}
#about .show_left{/* ì™¼ìª½ì—ì„œ ë“±ìž¥ */
    margin-left: 10%;
}

#about .profile_detail{
    width: 38.5%;
    margin-left: 10%;
}

#about .show_right{/* ì˜¤ë¥¸ìª½ì—ì„œ ë“±ìž¥ */
    margin-left: 0;
}

}





/********************************/

@media all and (max-width:767px){
#top_bg .top_content{
    font-size: 1.25em;
}
#about{
    width: 90%;
}
.section_tit{/* ê° ì„¸ì…˜ì˜ íƒ€ì´í‹€ ìŠ¤íƒ€ì¼ */
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    padding: 12px 0;
}

#about .profile_para{
    width:100%;
    margin: 0;

}
#about .profile_para p{
    padding: 0 2%;
}
#about .profile_detail{
    margin: 0;
    width:100%;
}


#portfolio .mockup{
    display: none;
}

#portfolio{
    width: 100%;
    padding:40px 0;
}

#portfolio .pofols{
    color: #fff;
    margin-bottom:0;
}


#portfolio .documents .docus{
    background:rgba(256,256,256,0.8);
}

#portfolio .pofol1{
    background: url('../images/bg_pofol01.jpg') no-repeat center center;
    background-size: cover;
}

#portfolio .pofol2{
    background: url('../images/bg_pofol02.jpg') no-repeat center center;
    background-size: cover;
}

#portfolio .pofol_detail{
    width: 100%;
    padding:5%;
}

#portfolio_design{
    width: 100%;
}
#portfolio_design .design_row .designs{
    width: 33.333%;
    padding-top: 33.3333%;
    margin:0;
    border: none;
}
#portfolio_design .design_row .design09{
    display:block;
    background:#e13838;
}

#skills{
    margin-top: 40px;
}

#skills ul li{
    width:100%;
    padding-bottom:30%;
    margin:0;
}
.skill_program .skill_inner{
    padding: 4%;
}

#skills .skill_program{
    background-size: 20%;
    margin-bottom: 4px;
}

#subpage.window{
    width: 90%;
}

#contact{
    padding: 40px 0;
    margin-top: 40px;
}

}
